body {
  margin: auto;
  width: 50%;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

code, button {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

table, td {
  margin: auto;
  width: 50%;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
