body {
  margin: auto;
  width: 50%;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

code, button {
  font-weight: bold;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

button:disabled {
  color: black;
  font-weight: bold;
}

.show {
  background-color: green;
}

.bomb {
  background-color: red;
}

.flag {
  background-color: blue;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}